[submodule "smart-contract/lib/openzeppelin-contracts"]
	path = smart-contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts"]
	branch = v4.8.3
