.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
}

.title a {
  color: #0d76fc;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 3rem 0;
  line-height: 1;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0d76fc;
  border-color: #0d76fc;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}

.card p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}



.containerabout {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.bottom {
  margin-top: 5rem;
}



.aboutintroh1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3;
  margin-bottom: 1rem;
  margin-right: 0;
  padding-right: 0;
}

.discover {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3;
  margin-bottom: 1rem;
  width: 100%;
}

.aboutintroh2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3;
  margin-bottom: 1rem;
  margin-left: 5rem;
  margin-top: 10rem;
  width: 80%;
}

.sectionp {
  margin-left: 5rem;
  width: 70%;
  margin-top: 3rem;
  line-height: 2;
}

.dis {
  display: flex;
  justify-content: space-between;
}

.disP {
  margin-right: 3rem;
}

.leftone {
  /* padding: 5rem; */
  width: 50%;
}

.numbers {
  font-weight: 400;
}

.stuff {
  font-size: 1rem;
  font-weight: 700;
}
.rightone {
  width: 90%;
}

.aboutbtn {
  display: inline-block;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  border: 2px solid var(--color-sec);
  border-radius: 3%;
  cursor: pointer;
  position: relative;
  background-color: #00b4a2;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
}

.label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  max-width: 100%;
}

.input,
.textarea {
  /* padding: 10px; */
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 3rem;
  max-width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  /* transition: all 0.2s ease-in-out; */
}

.input:focus,
.textarea:focus {
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  /* transform: scale(1.05); */
}

.button {
  padding: 10px 20px;
  background-color: #00b4a2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 20%;
}

.button:hover {
  background-color: #00b4a2;
  transform: translateY(-2px);
}

@media screen and (max-width: 780px) {

  .containerabout {
  flex-direction: column-reverse;
  align-items: center;
  /* padding: 2rem 2rem; */
  }

  .numbers {
    font-weight: 400;
    align-items: start;
  }
  .resp {
    display: block;
    flex-direction: column;
  }
  .stuff {
    font-size: 1rem;
    font-weight: 700;
  }
  .imgremove {
    visibility: hidden;
  }

  .button {
    padding: 10px 20px;
    background-color: #00b4a2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 50%;
  }

  .dis {
    display: block;
    /* justify-content: space-between; */
  }
  
  .disP {
    margin-bottom: 3rem;
  }
  

  .rightone {
    width: 100%;
  }

  .aboutintroh2 {
    font-size: 3rem;
    font-weight: 700;
   
  }
  
  .sectionp {
    width: 80%;
    margin-top: 2rem;
    
  }

  .hideonmobile {
    display: none;
    
  }

  .alignleft {
    align-items: start;
    margin: 0;
    padding: 0;
  }


  .leftone {
    /* padding: 5rem; */
    width: 100%;
  }

  .aboutintroh1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 3;
    margin-bottom: 1rem;
    margin-right: 0;
    padding-right: 0;
  }

  .discover {
    width: 100%;
  }
  }

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
